$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/////////////////////////////////////////////

// Variables
$purple: #E400E4;
$light-background: #ECECEC;
$light-green: #2FCC97;
$orange: #f06d06;

//navbar
.container-fluid {
  background: $purple;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar-brand {
  color: #FFFFFF !important; // cause bootstrap
  font-weight: bold;
  font-size: 30px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  background: $purple;
  color: #FFFFFF;
  font-size: 20px;
}

.jumbotron {
  background: #FFFFFF;
  background-image: linear-gradient( to right, $light-green, #FFFFFF, #FFFFFF, $light-green);
  margin-bottom: 0;
}

.first-feature {
  background: $light-background;
  display: flex;
  flex-direction: column;

  h2 {
    color: $purple;
    font-size: 32px;
  }

  h3 {
    color: $light-green;
  }

  img {
    border: 5px solid black;
    border-radius: 5px;
    margin: 20px;
    transform: scaleX(-1);
  }

  .run-down-desc {
    padding-left: 0;
  }
}

.col-cont-1 {
  display: flex;

  .col-cont-1-inner {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
  }

  .col-cont-1-inner-desc {
    width: 70%;
  }

  .col-cont-1-img {
    flex-basis: 50%;
    display: flex;
    align-items: center;
  }
}

.col-cont-2 {
  .col-cont-2-inner {
    margin: 0 auto;
    width: 70%;
  }
}

.second-feature,
.third-feature {
  background: #FFFFFF;
  padding-top: 1px;

  h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    color: $purple;
  }

  .products {
    display: flex;
    justify-content: center;
  }

  .accessories {
    display: flex;
    justify-content: space-around;
  }

  .product,
  .accessory {
    display: flex;
    flex-direction: column;
  }

  .product-title,
  .accessory-title {
    color: $light-green;
    font-size: 30px;
    text-align: center;
  }

  .product-img-cont,
  .accessory-img-cont {
    display: flex;
    min-height: 250px;

    img {
      margin: 0 auto;
    }
  }

  .accessory-img-cont-sticker {
    background: radial-gradient($purple 54%, #000);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transform: skew(10deg);
    box-shadow: inset 3px 3px 4px #000;
    width: 50%;
    margin: 0 auto;
  }

  .product-desc-cont,
  .accessory-desc-cont {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    ul {
      list-style: none;
    }

    button {
      background: $light-green;
    }
  }
}

.fourth-feature {
  background-image: linear-gradient(to right, #2FCC97, #FFFFFF, #FFFFFF, #2FCC97);
  padding-bottom: 50px;

  h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    color: $purple;
  }

  .locations {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .location-img {
    max-height: 300px;
    max-width: 250px;
  }

  .trader-img {
    border-radius: 50%;
  }
}

.footer {
  background: #000000;

  .newsletter-inner {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;

    span {
      color: $light-green;
      font-size: 20px;
    }

    input {
      width: 20%;
    }

    button {
      background: $light-green;
      color: black;
    }
  }

  .disclaimer {
    display: flex;
    justify-content: space-around;

    img {
      width: 25px;
    }

    a {
      color: $purple;
    }
  }
}
