$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/////////////--MY CSS--////////////////////

// Variables
// $purple: #E400E4;
$purple: #F34055;
$light-background: #ECECEC;
$light-green: #2FCC97;
$orange: #f06d06;

body {
  font-size: 16px;
}

h1, h2, h3, .navbar-brand {
  font-family: Montserrat;
}

li, p {
  font-family: Lato;
}

//navbar
.container-fluid {
  background: $purple;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  color: #FFFFFF !important; // cause bootstrap
  font-size: 30px;
  order: 1;

  @media (max-width: 668px) {
    font-size: 22px;
  }
}

.navbar-toggle {
  order: 2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  background: $purple;
  color: #FFFFFF;
  font-size: 20px;
}

.products,
.accessories,
.locations,
.newsletter-inner,
.disclaimer {
  @media (max-width: 740px) {
    flex-direction: column;
  }
}

.jumbotron {
  // background: #FFFFFF;
  // background-image: linear-gradient( to right, $light-green, #FFFFFF, #FFFFFF, $light-green);
  margin-bottom: 0;
  background: url("../images/girl1.jpeg") #0F0F0E;
  background-size: 50% 100%;
  background-repeat: no-repeat;

  h2 {
    font-size: 30px;
    color: $light-green;

    @media (max-width: 740px) {
      color: #000000;
    }
  }
}

.first-feature {
  background: $light-background;
  display: flex;
  flex-direction: column;

  h2 {
    color: $purple;
    font-size: 32px;
  }

  h3 {
    color: $light-green;
  }

  img {
    margin: 20px;
    transform: scaleX(-1);
  }

  .run-down-desc {
    padding-left: 0;
  }
}

.col-cont-1 {
  display: flex;

  .col-cont-1-inner {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
  }

  .col-cont-1-inner-desc {
    margin: 0 3%;

    @media (min-width: 740px) {
      width: 70%;
    }
  }

  .col-cont-1-img {
    flex-basis: 50%;
    display: flex;
    align-items: center;

    @media (max-width: 740px) {
      justify-content: center;
    }
  }

  @media (max-width: 740px) {
    flex-direction: column;
  }
}

.col-cont-2 {
  .col-cont-2-inner {
    margin: 0 3%;

    @media (min-width: 740px) {
      margin: 0 auto;
      width: 75%;
    }
  }
}

.second-feature,
.third-feature {
  background: #FFFFFF;
  padding-top: 1px;

  h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    color: $purple;
  }

  .products {
    display: flex;
    justify-content: center;
  }

  .accessories {
    display: flex;
    justify-content: space-around;
  }

  .product,
  .accessory {
    display: flex;
    flex-direction: column;
  }

  .product-title,
  .accessory-title {
    color: $light-green;
    font-size: 30px;
    text-align: center;
  }

  .product-img-cont,
  .accessory-img-cont {
    display: flex;
    height: 250px;

    img {
      object-fit: contain;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .accessory-img-cont-sticker {
    background: radial-gradient($purple 54%, #000);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transform: skew(10deg);
    box-shadow: inset 3px 3px 4px #000;
    width: 50%;
    margin: 0 auto;
  }

  .product-desc-cont,
  .accessory-desc-cont {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    ul {
      list-style: none;
    }

    button {
      background: $light-green;
    }
  }
}

.fourth-feature {
  background-image: linear-gradient(to right, #2FCC97, #FFFFFF, #FFFFFF, #2FCC97);
  padding-bottom: 50px;

  h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    color: $purple;
  }

  .locations {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .location-img {
    max-height: 300px;
    max-width: 250px;
  }

  .trader-img {
    border-radius: 50%;
  }
}

.footer {
  background: #000000;

  .newsletter-inner {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;

    span {
      color: $light-green;
      font-size: 20px;

      @media (max-width: 740px) {
        text-align: center;
      }
    }

    input {
      width: 20%;

      @media (max-width: 740px) {
        width: 100%;
      }
    }

    button {
      background: $light-green;
      color: black;
    }
  }

  .disclaimer {
    display: flex;
    justify-content: space-around;

    img {
      width: 25px;
    }

    a {
      color: $purple;
    }

    @media (max-width: 740px) {
      .disclaimer-statement {
        order: 2;
      }

      .disclaimer-contact {
        order: 1;
      }
    }
  }
}
